.carousel-fade .carousel-item {
  height: 45vh;
}

.carousel-item .carousel-fade{
  padding: 0 !important;
  margin: 0 !important;
  border: none !important;
}

@media only screen and (max-width: 768px) {
  .carousel-fade .carousel-item {
    height: 20rem;
  }

  .carousel-item img {
    height: 20rem !important;
    object-fit: cover;  
  
  }
}
.carousel-item p {
  text-shadow: 0 0 0.2em black;
}

.carousel-item h3 {
  text-shadow: 0 0 0.1em black;
}

.carousel-item img {
  height: 45vh;
  object-fit: cover;  
  transition: 0.3s;
}

.carousel-item img:hover ,
.carousel-item img:focus {
  transform: scale(1.1);
  transition: 0.3s;
  z-index: 0;
}

.carousel-indicators > button {
  background-color: #ffffff49 !important;
  border: 1px solid #ffffff !important;
  border-radius: 50%;
  width: 0.5rem !important;
  height: 0.5rem !important;
  margin: 0 0.2rem !important;
  transition: 0.3s !important;
}

.carousel-control-next span {

}