.carousel-fade .carousel-item {
  height: 40vh;
}

.carousel-item .carousel-fade {
  padding: 0 !important;
  margin: 0 !important;
  border: none !important;
}

.carousel-inner {
  background-color: var(--light-green-bg) !important;
}

@media only screen and (max-width: 768px) {
  .carousel-fade .carousel-item {
    height: 40vh !important;
  }

  .carousel-item img {
    height: 40vh !important;
    object-fit: cover;
  }
}
/* .carousel-item p {
  text-shadow: 0 0 0.2em black;
} */

.carousel-control-next-icon,
.carousel-control-prev-icon {
  /* background-color: black !important; */
  opacity: 1 !important;
  border-radius: 16px !important;
  width: 48px !important;
  height: 48px !important;
}

.carousel-item img {
  height: 40vh;
  object-fit: cover;
  transition: 0.3s;
}

.carousel-indicators > button {
  background-color: #ffffff !important;
  border: 1px solid #ffffff !important;
  border-radius: 50%;
  width: 8px !important;
  height: 8px !important;
  margin: 0 4px !important;
  transition: 0.4s !important;
}

.carousel-text {
  text-shadow: 0 0 4rem black !important;
  margin: 0 auto;
  padding: 24px;
  background: radial-gradient(circle, rgba(0, 0, 0, 0.624), transparent);
}
