.carousel-fade .carousel-item {
  height: 45vh;
}

@media only screen and (max-width: 768px) {
  .carousel-fade .carousel-item {
    height: 30vh;
  }

  .carousel-item img {
    height: 30vh;
    object-fit: cover;  
  
  }
}
.carousel-item p {
  text-shadow: 0 0 0.2em black;
}

.carousel-item h3 {
  text-shadow: 0 0 0.1em black;
}

.carousel-item img {
  height: 45vh;
  object-fit: cover;  
  transition: 0.3s;
}

.carousel-item img:hover ,
.carousel-item img:focus {
  transform: scale(1.1);
  transition: 0.3s;
  z-index: 0;
}
