.contact {
  color: #526336;
  border: 1px solid #e6e6e6;
  padding: 16px !important;
  /* padding-top: 32px !important; */
  width: 40rem !important;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 5vh !important;
  transition: 0.4s;
  /* margin: auto; */
}

@media (max-width: 768px) {
  .contact {
    width: 20rem !important;
    padding: 16px !important;
    padding-bottom: 0;
  }
}

.required.field label {
  font-weight: 300 !important;
  color: #526336 !important;
}

.ui.left.icon.input i {
  color: #526336 !important;
}

.contact .button {
  backdrop-filter: blur(20px) !important;
  background: rgba(45, 75, 17, 0.75) !important;
  box-shadow: 0px 0px 20px rgba(44, 47, 37, 0.3) !important;
  backdrop-filter: blur(20px);
  border: 1px solid rgba(82, 99, 54, 0.25);
  color: #ffffff;
  border-radius: 32px;
  padding: 8px !important;
  transition: 0.3s;
  width: 6rem;
  margin: 0;
  font-size: small !important;
  font-family: work sans;
  font-weight: 400 !important;
  margin-top: 16px;
}

.line {
  width: 8rem !important;
  border-bottom: 4px solid #caec7d !important;
  margin-bottom: 24px !important;
  border-radius: 32px !important;
}

.contact button:hover {
  background: #caec7d !important;
  transition: 0.3s;
  color: #526336 !important;
  border: 1px solid rgba(82, 99, 54, 0.25) !important;
}

.contact button:active {
  background: #ffffff !important;
  transition: 0.3s;
  color: #526336 !important;
  border: 1px solid rgba(82, 99, 54, 0.25) !important;
}

.contact h2 {
  font-size: 28px;
  font-family: "work sans";
  font-weight: 500;
  padding-bottom: 0;
  margin-bottom: 8px;
}

form {
  align-items: stretch;
  flex-direction: column;
}

.contact p {
  margin-bottom: 8px!important;
}
