.card {
  color: #fff;
  width: 20rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 20px !important;
  background-color: #526336 !important;
}

.deliveries {
  margin-top: 5vh;
}


.container-delivery {
  margin: 0px;
}

.row .picture {
  padding: 0;
}

.col {
  margin-bottom: 5vh;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: space-around;
}

.card p {
  font-size: 1.5rem;
  font-family: "work sans";
  font-weight: 300;
  padding-left: 6%;
}


.card h2 {
  font-size: 2rem;
  font-family: "work sans";
  font-weight: 500;
  padding: 6%;
  padding-bottom: 0;
}

.card p svg {
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
}

.card button {
  background: #caec7d;
  border: 1px solid rgba(82, 99, 54, 0.25);
  border-radius: 10px;
  padding: 0.3rem;
  margin-bottom: 10%;
  margin-left: 6%;
  transition: 0.3s;
  width: 6rem;
}

.card button:hover {
  background: #ffffff;
  transition: 0.3s;
}

.card button a {
  color: #526336;
  text-decoration: none;
}

.pic {
  overflow: hidden;
  border-radius: 20px !important;
}


.pic img {
  margin: auto;
  transition: 0.3s;
  border-radius: 10px !important;
  /* object-fit: cover; */
  height: 16rem;
  transform: scale(1.1);
  z-index: -99 !important;
}

.pic:hover img,
.pic:focus img {
  transform: scale(1.2);
  transition: 0.3s;
  z-index: 0;
}
