.footer {
    background-color: #F8FBEF;
    color: #2C2F25;
    padding: 20px 0;
    text-align: center;
    border-top: 1px solid #E7E7E7;
}

.footer a {
    color: #526336;
    text-decoration: none;
}