.footer {
  background-color: #f8fbef;
  color: #526336;
  padding: 16px;
  padding-bottom: 0;
  text-align: center;
  border-top: 1px solid #e7e7e7;
  font-size: small;
  font-weight: 600; 
}

.footer .col a {
  color: #526336;
  text-decoration: none;
  padding: 8px !important;
}

.footer .col svg {
  margin: 8px;
  margin-bottom: 16px;
}

.footer .col svg path {
  fill: #526336 !important;
}

.footer .col {
  margin: 0;
}
