.footer {
    color: var(--dark-green);
    padding: 16px;
    padding-bottom: 0;
    text-align: center;
    border-top: 1px solid rgba(34, 36, 38, 0.15);
    font-size: small;
}

.footer .col a {
    color: var(--dark-green);
    text-decoration: none;
    padding: 8px !important;
}

.footer .col svg {
    margin: 8px;
    margin-bottom: 16px;
}

.footer .col svg path {
    fill: var(--dark-green);
}

.footer .col {
    margin: 0;
}
