.gallery-container {
  margin-top: 5vh !important;
  margin-bottom: 5vh !important;
  /* width: 80vw; */
  margin: auto;
  padding: 24px;
}

@media (max-width: 768px) {
  .gallery-container {
    width: 100vw !important;
    padding: 8px !important;
  }

  .gallery-item {
    max-width: 10rem !important;
    height: 15rem !important;
  }

  .product-image {
    width: 10rem !important;
    height: 15rem !important;
  }

  .gallery {
    padding: 0 !important;
  }
}

.gallery-item {
  background-color: white;
  max-width: 20rem;
  height: 30rem;
  border: 1px solid rgba(34, 36, 38, 0.15);
  box-shadow: 0px 0px 18px rgba(44, 47, 37, 0.136);
  margin: auto;
  border-radius: 16px;
  overflow: hidden;
  animation: appear 0.3s ease-in-out;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.gallery-item {
  color: var(--dark-green);
}

.product-image {
  width: 20rem;
  height: 30rem;
  object-fit: cover;
}

.chip-container {
  display: flex;
  overflow-x: scroll;
}

.chip {
  margin: 8px;
  margin-top: 0;
  padding: 8px;
  margin-left: 0;
  border-radius: 16px;
  background-color: var(--light-green-bg);
  color: var(--dark-green);
  font-size: 16px;
}

.search-container {
  background-color: rgb(254, 254, 254);
  width: fit-content;
  margin: auto;
  color: var(--dark-green);
  border-radius: 16px;
  padding: 24px !important;
  border: 1px solid rgba(34, 36, 38, 0.15);
  box-shadow: 0px 0px 18px rgba(44, 47, 37, 0.136);
}

.search-wrapper {
  padding-top: 2rem;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  justify-content: space-between;
  gap: 8px;
}

@media (max-width: 768px) {
  .gallery {
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  }
}

.description-container {
  position: relative;
  padding: 24px;
  bottom: calc(4rem + 24px);
  margin: auto;
  text-align: center;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.623), rgba(0, 0, 0, 0));
}


.offcanvas-title {
  font-size: 24px;
  font-weight: 500;
  color: var(--dark-green);
}

.offcanvas-header {
  border-bottom: 1px solid rgba(34, 36, 38, 0.15);
  padding: 24px;
}

.offcanvas-body {
  padding: 24px;
}

.offcanvas-image {
  width: 100%;
  height: 38rem;
  object-fit: cover;
  border-radius: 16px;
  margin-top: 16px;
}