.gallery-container {
  margin-top: 5vh !important;
  margin-bottom: 5vh !important;
}


.gallery-item {
  background-color: white;
  height: 30rem !important;
  /* box shadow */
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  /* padding: 8px; */
  overflow: hidden !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.product-image {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}