.gallery-container {
  margin-top: 2rem !important;
  margin: auto;
  width: calc(100vw - 22rem - 1px);
}

@media (max-width: 768px) {
  .gallery-container {
    width: 100vw !important;
    margin-top: 0 !important;
  }

  .gallery {
    padding: 0 !important;
  }

  .gallery-item {
    width: calc(50vw - 16px) !important;
    height: calc(50vw * 1.5) !important;
  }

  .product-image {
    width: calc(50vw - 16px) !important;
    height: calc(50vw * 1.5) !important;
  }
}

.gallery-item {
  background-color: white;
  margin: auto;
  margin-bottom: 16px;
  overflow: hidden;
  animation: appear 0.3s ease-in-out;
  border-radius: 16px;
  width: 22rem;
  height: calc(22rem * 1.5);
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.gallery-item {
  color: var(--dark-green);
}

.product-image {

  width: 22rem;
  height: calc(22rem * 1.5);
  border-radius: 16px;
  object-fit: cover;
  cursor: pointer;
}

.chip-container {
  display: flex;
  overflow-x: scroll;
}

.chip {
  border: 1px solid rgba(34, 36, 38, 0.15);
  margin: 8px;
  margin-top: 0;
  padding: 8px;
  margin-left: 0;
  border-radius: 16px;
  background-color: var(--light-green-bg);
  color: var(--dark-green);
  font-size: 16px;
  transition: 0.3s;
}

.chip:active {
  background-color: var(--dark-green);
  color: var(--light-green-bg);
  border: 1px solid rgba(34, 36, 38, 0.15);
}

.clickable {
  cursor: pointer !important;
}

.search-container {
  background-color: rgb(254, 254, 254);
  margin: auto;
  color: var(--dark-green);
  border-radius: 16px;
  padding: 24px;
}

.search-wrapper {
  border-right: 1px solid rgba(34, 36, 38, 0.15);
  width: 22rem;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
  justify-content: space-between;
}

@media (max-width: 768px) {
  .gallery {
    grid-template-columns: repeat(auto-fill, minmax(50vw, 1fr));
  }

  .search-container {
    width: 100vw;
  }

  .search-wrapper {
    border: 0;
    width: fit-content
  }

  .product-title {
    padding: 8px !important;
  }

  .offcanvas-bottom {
    height: 80vh !important;
    border-top-left-radius: 32px !important;
    border-top-right-radius: 32px !important;
  }

  .title-product {
    padding: 8px !important;
    height: 3rem !important;
    bottom: 3rem !important;
  }
}

.description-container {
  position: relative;
  bottom: 40px;
  margin: auto;
  text-align: center;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.244),
    rgba(0, 0, 0, 0)
  );
}

.product-title {
  position: relative;
  top: calc(-100% - 6.5rem);
  color: var(--light-green-bg);
  margin: auto;
  z-index: 99;
  padding: 24px;
  margin: auto;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.785),
    rgba(0, 0, 0, 0)
  );
}

.offcanvas-title {
  font-size: 24px;
  font-weight: 500;
  color: var(--dark-green);
}

.offcanvas-header {
  border-bottom: 1px solid rgba(34, 36, 38, 0.15);
  padding: 24px;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
}

.offcanvas-body {
  padding: 0;
}

.offcanvas-end {
  border-bottom-left-radius: 32px;
  border-top-left-radius: 32px;
}

.offcanvas-image {
  width: 100%;
  height: 28rem;
  object-fit: cover;
}

.gallery-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.type-selector {
  border: 1px solid rgba(34, 36, 38, 0.15) !important;
  padding: 8px !important;
  transition: 0.4s;
  background-color: var(--dark-green) !important;
}

.btn-outline-primary {
  background-color: var(--light-green-bg) !important;
  color: var(--dark-green) !important;
}

.left-border {
  border-bottom-left-radius: 32px !important;
  border-top-left-radius: 32px !important;
}

.right-border {
  border-bottom-right-radius: 32px !important;
  border-top-right-radius: 32px !important;
}

.color-circle {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin: 8px;
  margin-top: 0;
  margin-left: 0;
  cursor: pointer;
  border: 1px solid rgba(34, 36, 38, 0.15) !important;
}

.gallery-title {
  padding: 24px;
  padding-top: 0;
}

.ui input {
  border-radius: 16px !important;
  height: 56px !important;
  border: 1px solid rgba(34, 36, 38, 0.15) !important;
}

.offcanvas-description {
  padding: 24px;
  color: var(--dark-green);
}

.pagination-container {
  display: flex;
  justify-content: center;
  padding: 24px;
}

.pagination {
  margin: 0 !important;
  align-items: center;
}

.page-link {
  border-radius: 50% !important;
}

.page-link:hover {
  outline: none;
}

.page-link:focus {
  outline: none;
  box-shadow: none;
  background-color: var(--light-green-bg) !important;
}

.page-item {
  margin-left: 1px;
  margin-right: 1px;
  height: 36px !important;
  width: 36px !important;
}

.page-item a {
  height: 36px !important;
  width: 36px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--dark-green) !important;
  border: 1px solid rgba(34, 36, 38, 0.15) !important;
}

.page-item.active span {
  height: 36px !important;
  width: 36px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light-green-bg) !important;
  background-color: var(--dark-green) !important;
  border: 1px solid rgba(34, 36, 38, 0.15) !important;
}

.title-product {
  position: relative;
  height: 4rem;
  bottom: 4rem; 
  padding: 16px;
  color: var(--light-green-bg);
  cursor: pointer;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
}
