.navbar-expand {
  margin: 0;
  padding: 0;
  border: 0;
}

#logo {
  width: 27px;
}
.navbar-light .navbar-nav .nav-link {
  color: white;
  transition: 0.3s;
  font-family: "Work sans";
  font-weight: 400;
  font-size: 1.2rem;
  padding: 0.5rem 1.5rem;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #caec7d;
  transition: 0.3s;
}

.navbar-brand a {
  display: flex;
  font-family: "Work sans";
  font-weight: 400;
  /* font-size: 0.5rem; */
  color: white;
  transition: 0.3s;
  margin: 0;
}

.navbar-brand:hover {
  color: #caec7d;
  transition: 0.3s;
}

.container-fluid {
  margin: 0;
  border: 0;
  outline: 0;
  padding: 1rem;
  padding-left: 2%;
  padding-right: 2%;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  background: rgba(45, 75, 17, 0.75);
  box-shadow: 0px 0px 20px rgba(44, 47, 37, 0.3);
  backdrop-filter: blur(20px);
  /* drop shadow */
}

.container-fluid button {
  margin: 0 !important;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.container-fluid button:focus {
  margin: 0 !important;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.container-fluid button:active {
  margin: 0 !important;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.header-mobile {
  color: #ffffff;
}

.navbar-toggler {
  display: flex;
  align-items: baseline;
  margin-left: 30%;
}

.container-fluid a {
  display: flex;
  align-items: center;
  padding: 0;
  border: 0;
  padding-right: 0.5rem;
}

.container-fluid p {
  position: absolute;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  border: 0;
  margin-left: 2rem;
}

.container-fluid h1 {
  margin: 0;
  font-weight: 500;
}
