.infobar .col {
    display: flex;
    align-items: center;
    background-color: #F8FBEF;
    color: rgba(44, 47, 37, 0.5);
    border-radius: 32px;
    font-size: small;
    padding: 4px;
    flex-wrap: nowrap;
    justify-content: center;
    font-weight: 600;
    margin: 0.5rem;
    margin-top: 5vh;
    transition: 0.3s;
    cursor: default;
    border: 1px solid rgba(82, 99, 54, 0.25);
}



.infobar .row {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    cursor: default;
}

.infobar .row svg {
    width: 16px;
    height: 1rem;
    margin-left: 0.5rem;
    cursor: default;
    margin-right: 0 !important;
    padding-right: 0 !important;
}

.infobar .col.mobile{
    margin: 0px !important;
}

.container .d-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 16px;
    padding: 0;
    margin-top: 16px;
    /* margin-left: 16px;
    margin-right: 16px; */

}
