.google-map {
    width: 40rem !important;
    height: 20rem !important;
    margin: auto;
    margin-bottom: 16px;
    overflow: hidden;
    transition: 0.3s;
}

@media (max-width: 768px) {
    .google-map {
        width: 85vw !important;
    }
    .map-container {
        width: 85vw !important;
    }
}

.map-wrapper {
    /* padding-top: 2rem; */
    padding-bottom: 2rem;
}

svg {
    margin-right: 8px;
}

.gmnoprint a,
.gmnoprint span,
.gm-style-cc {
    display: none;
}
.gmnoprint div {
    background: none !important;
}

.pin {
    display: flex;
    margin: auto;
    align-items: center !important;
    width: 128px;
    cursor: pointer;
    color: var(--dark-green);
    font-size: 16px;
    background-color: white;
    padding: 8px;
    border-radius: 16px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.pin:hover {
    background-color: #f8fbef;
    transition: 0.3s;
}

.map-container {
    background-color: white;
    width: 40rem;
    margin: auto;
    transition: 0.4s;
    padding-top: 0px !important;
    color: var(--dark-green);
    border-radius: 8px;
    border: 1px solid rgba(34, 36, 38, 0.15);
}

.map-header {
    padding: 16px;
}
