.container-scroll {
  display: flex;
  overflow-x: scroll;
  padding-right: 16px !important;
  padding-left: 16px !important;
}

.card-scroll {
  flex-shrink: 0;
  width: 12rem;
  height: 18rem;
  margin-right: 8px;
  margin-left: 8px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 8px !important;
}

.card-scroll-content {
  position: relative;
  color: var(--light-green-bg);
  padding: 16px;
  height: 35%;
  top: 65%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  backdrop-filter: blur(32px);
  border-radius: 8px !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}
