.container-scroll {
  display: flex;
  overflow-x: scroll;
  padding-right: 16px !important;
  padding-left: 16px !important;
}

.scroll-wrapper {
  margin-bottom: calc(-18rem + 8px);
}

.card-scroll {
  flex-shrink: 0;
  width: 12rem;
  height: 18rem;
  margin: 8px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: 0 0 8px rgb(0 0 0 / 20%);
  border-radius: 8px !important;
}

.card-scroll-content {
  position: relative;
  color: var(--light-green-bg);
  padding: 16px;
  height: 35%;
  top: 65%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  backdrop-filter: blur(16px);
  border-radius: 8px !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

