.container-scroll {
  display: flex;
  overflow-x: scroll;
  /* margin: auto; */
  /* justify-content: center; */
  /* margin-bottom: 5vh; */
  /* padding: 16px; */
  /* padding-left: 16px !important; */
  padding-right: 16px !important;
  /* background-color: #f2f2f2; */
}

.scroll-wrapper {
  /* background-color: var(--light-green-bg); */
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.card-scroll {
  flex-shrink: 0;
  width: 15rem;
  height: 25rem;
  margin: 16px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: 0 0 8px rgb(0 0 0 / 20%);
}

.card-scroll-content h2 {
  font-size: 24px;
  font-family: "work sans";
  font-weight: 500;
}

.card-scroll-content {
  position: relative;
  color: var(--light-green-bg);
  padding: 16px;
  height: 30%;
  top: 70%;
  background-color: rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  backdrop-filter: blur(16px);
  /* border-radius: 16px !important; */
}

