.gallery-container {
  margin-top: 5vh !important;
  margin-bottom: 5vh !important;
  /* padding: 0 !important; */
  /* padding: 0 !important; */
  /* background-color: white; */
  /* border-radius: 8px; */
  /* box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1); */
}
.gallery {
  margin: auto;
  display: grid !important;
  grid-template-columns: repeat(auto-fill, 12rem) !important;
  grid-gap: 8px !important;
  justify-items: center !important;
  align-items: center !important;
  justify-content: center !important;
  padding: 0 !important;
}

@media (max-width: 768px) {
  .container-gallery {
    padding: 32px !important;
  }
}

.gallery img {
  width: 12rem;
  flex: 1;
  position: relative;
  /* min-height: 10rem;
  max-height: 16rem !important; */
  height: calc(100% - 128px);
  object-fit: cover;
  /* border-radius: 8px; */
  /* lower brightness */
  filter: brightness(1);
  transition: 0.3s;
  /* margin-bottom: 4px; */
}

.gallery img:hover {
  /* move y */
  filter: brightness(1.1);
  transition: 0.3s;
  /* click cursor */
  cursor: pointer;
}

.mini-container {
  flex-wrap: wrap;
}

.mini-container span {
  font-size: 12px;
  margin: 4px;
  margin-left: 0;
  margin-bottom: 0;
  background-color: #F8FBEF;
  border-radius: 32px;
  padding: 2px;
  padding-left: 4px;
  padding-right: 4px;
  color: #81994C;
  border: 1px solid #81994C;
}

.gallery button {
  margin-top: 0px !important;
  margin-bottom: 0 !important;
  /* border-radius: 0 !important; */
  font-size: small !important;
  margin-bottom: 8px !important;
  margin-top: 8px !important;
}

.gallery-item {
  background-color: white;
  height: 28rem;
  /* box shadow */
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  /* padding: 8px; */
  overflow: hidden !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.gallery div:empty {
  display: none;
}

.gallery-item-info {
  padding: 8px;
  /* width: 12rem  !important; */
}
