.header {
  text-align: center;
}

/* ::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #F8FBEF; 
}
 
::-webkit-scrollbar-thumb {
  background: #526336; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
} */