.header {
  text-align: center;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #F8FBEF; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #526336; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}